* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

:root {
	--text-color: #fff;
	--bg-color: #001625;
	--main-color: #14a1e8;
	--item-color: #00263e;
	--second-item-color: #002e4b;
	--section-color: #002036;
}

html {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
}

section {
	background-color: var(--section-color);
	min-height: 100vh;
}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.5rem 12rem;
	font-size: 1.8rem;
	z-index: 10;
	color: var(--text-color);
	background-color: var(--bg-color);
}
header a {
	text-decoration: none;
}

.fa-bars {
	display: none;
}

.list_item {
	text-decoration: none;
	color: var(--text-color);
	margin-left: 4rem;
	font-size: 2.2rem;
	transition: color 0.3s;
}

.list_item:hover,
.active {
	color: var(--main-color);
}

.logo {
	font-size: 2.5rem;
	color: var(--main-color);
	font-style: oblique;
}

.logo::after,
.logo::before {
	content: '';
	position: relative;
	padding: 0.4rem 1.4rem;
}

.logo::before {
	border-top: 2px solid var(--text-color);
	border-left: 2px solid var(--text-color);
}

.logo::after {
	border-bottom: 2px solid var(--text-color);
	border-right: 2px solid var(--text-color);
}

/* MAIN */

.home {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-image: url('../public/projekt_1920.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: var(--text-color);
	overflow: hidden;
}

.home .wrapper {
	width: 70%;
	display: flex;
	align-items: center;
	text-align: start;
	z-index: 8;
}

.wrapper .bg_shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: -10;
}

.home .wrapper h1 {
	font-size: 3.8rem;
}

.home .wrapper .skills {
	color: var(--main-color);
}

.home .wrapper p {
	font-size: 1.7rem;
	margin: 2.5rem 0;
}

.home .wrapper .icon_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-right: 3rem;
	height: 14rem;
	padding-left: 10rem;
}

.home .wrapper .icon_box .fa-brands {
	padding: 1rem;
	font-size: 2.5rem;
	border: 0.2rem solid var(--main-color);
	border-radius: 50%;
	color: var(--main-color);
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}

.home .wrapper .icon_box .fa-brands:hover {
	color: var(--text-color);
	background-color: var(--main-color);
}

.btn {
	width: 17rem;
	height: 4.3rem;
	font-size: 2rem;
	color: var(--text-color);
	background-color: var(--main-color);
	border: 0.2rem solid var(--main-color);
	border-radius: 2.2rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: var(--second-item-color);
}

.fa-chevron-down {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	font-size: 30px;
	color: var(--text-color);
}

/* ABOUT */

.about {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 8rem;
	padding: 0 4rem;
}

.title {
	font-size: 7rem;
	color: var(--text-color);
}

.title span {
	color: var(--main-color);
}

.about .logo_box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.about .text_box {
	width: 50%;
}

.about .text_box h1:nth-child(2) {
	color: var(--main-color);
	font-size: 4rem;
}

.about .text_box p {
	font-size: 1.8rem;
	margin: 2.5rem 0;
	color: var(--text-color);
}

.carusele {
	width: 15vh;
	height: 10vw;
	margin: 3rem;
	transition: transform 0.3s;
}
.carusele:hover {
	transform: scale(1.1);
}

/* PORTFOLIO */

.portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2.5rem;
	scroll-margin-top: 9rem;
}

.portfolio .content_box {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 4rem 9rem;
	gap: 2.5rem;
	color: var(--text-color);
}

.portfolio .img_box {
	position: relative;
	width: 100%;
	display: flex;
	overflow: hidden;
	border-radius: 1.6rem;
}

.portfolio .img_box img {
	width: 100%;
	transition: 0.3s;
}

.portfolio .img_box span {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.3rem;
	text-align: center;
	font-size: 1.6rem;
	transform: translateY(150%);
	transition: transform 0.5s;
	border-radius: 1.6rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(20, 137, 196, 0.8));
}

.portfolio .img_box span i {
	font-size: 2.5rem;
	padding: 0.8rem;
	background-color: var(--text-color);
	color: black;
	border-radius: 50%;
	cursor: pointer;
}

.portfolio .img_box:hover img {
	transform: scale(1.1);
}

.portfolio .img_box:hover span {
	transform: translateY(0);
}

/* CONTACT */

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5.5rem;
	padding: 0 27%;
	min-height: 85vh;
}

.contact .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 1.2rem;
}

.contact .input_box {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 5.5rem;
	gap: 1.2rem;
}

.contact .input_box input {
	width: 50%;
	height: 100%;
	padding: 2%;
}

.contact .form textarea {
	display: block;
	width: 100%;
	height: 28rem;
	padding: 2%;
	font-size: 1.6rem;
	resize: none;
}

.contact .form textarea,
.contact .form .input_box input {
	background-color: var(--second-item-color);
	border: none;
	outline: none;
	color: var(--text-color);
	border-radius: 0.5rem;
}

.contact .form textarea::placeholder,
.contact .form .input_box input::placeholder {
	color: var(--text-color);
	font-size: 1.6rem;
}

.contact input[type='submit'] {
	width: 21rem;
	margin-top: 0.8rem;
}

/* MEDIA */
@media (max-width: 1300px) {
	.portfolio .img_box span {
		font-size: 1.2rem;
	}
	.portfolio .img_box span i {
		font-size: 1.4rem;
	}
}

@media (max-width: 1200px) {
	html {
		font-size: 56%;
	}
	.portfolio {
		min-height: 70vh;
	}
	.contact {
		padding: 0 22%;
	}
}

@media (max-width: 1024px) {
	header {
		padding: 1.5rem 5rem;
	}

	.portfolio .img_box span {
		font-size: 1rem;
	}
	.portfolio .img_box span i {
		font-size: 1.4rem;
	}
}

@media (max-width: 850px) {
	.home {
		flex-direction: column;
		gap: 2rem;
		height: 100vh;
	}
	.home .wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.home .text_box {
		margin-right: 3rem;
	}

	.about {
		flex-direction: column-reverse;
		padding-top: 10rem;
		gap: 1rem;
	}
	.about .text_box {
		width: 70%;
	}
	.logo_box {
		display: flex;
		justify-content: center;
	}
	.carusele {
		height: 13vh;
	}

	header #menu {
		display: block;
		font-size: 4rem;
	}
	header nav {
		position: absolute;
		left: 0;
		top: 100%;
		background-color: var(--bg-color);
		width: 100%;
		padding: 0.5rem 5rem;
		box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.5);
		text-align: center;
		cursor: pointer;
		display: none;
	}
	header .active {
		display: block;
	}
	header nav a {
		display: block;
		margin: 3rem 0;
		font-size: 2.5rem;
	}
	.fa-bars {
		display: block;
		padding: 10px;
		cursor: pointer;
		font-size: 2rem;
	}
	.portfolio .content_box {
		grid-template-columns: repeat(2, 1fr);
	}
	.portfolio .img_box span {
		font-size: 1rem;
	}
	.portfolio .img_box span i {
		font-size: 1.2rem;
	}
}

@media (max-width: 750px) {
	html {
		font-size: 48%;
	}
	.wrapper {
		justify-content: center;
	}

	.portfolio .img_box span {
		font-size: 1.4rem;
	}
	.portfolio .img_box span i {
		font-size: 1.6rem;
	}
	.contact {
		padding: 0 5%;
	}
	.contact .input_box {
		height: 7rem;
	}
	.contact .form .btn {
		width: 25rem;
		height: 5.5rem;
		border-radius: 6rem;
		font-size: 2.5rem;
	}
}
@media (max-width: 650px) {
	.portfolio {
		padding-top: 10rem;
	}
	.portfolio .img_box span {
		font-size: 1.3rem;
	}
	.portfolio .img_box span i {
		font-size: 1.6rem;
	}
}
@media (max-width: 600px) {
	.home .wrapper .icon_box {
		padding-left: 3rem;
	}

	.portfolio .content_box {
		grid-template-columns: repeat(1, 1fr);
	}
	.portfolio .img_box span {
		font-size: 1.7rem;
	}
	.portfolio .img_box span i {
		font-size: 2.5rem;
	}
}

@media (max-width: 500px) {
	.img {
		width: 70vw;
	}

	.portfolio .content_box {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 450px) {
	.portfolio .img_box span {
		font-size: 1.3rem;
	}
	.portfolio .img_box span i {
		font-size: 2rem;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 40%;
	}
	.home .wrapper .icon_box {
		padding-left: 2.5rem;
	}
	.img {
		width: 80vw;
	}
	.contact .input_box {
		height: 15rem;
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}
	.contact .input_box input {
		width: 100%;
		height: 50%;
	}
	.contact .input_box input,
	.contact .form textarea {
		padding: 5%;
	}
	.contact .input_box input::placeholder,
	.contact .form textarea::placeholder {
		font-size: 2rem;
	}
}
